* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 11px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  width: 150px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__authContainer {
  display: flex;
  flex-direction: row;
}

.app__posts {
  padding: 20px;
}

.app__contents {
  display: flex;
  justify-content: center;
}

.avatarProfile {
  visibility: hidden;
}

.mobile__profile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .app__contents {
    flex-direction: column;
  }
  .avatarProfile {
    visibility: visible;
    margin-right: 5px;
    cursor: pointer;
  }
  .app__profile {
    display: none;
  }
  .mobile__profile {
    display: block;
  }
}
